.nolan-group-carousel-contents {
  width: 100%;
  height: 100%;
  padding-bottom: 30px !important;
  margin-bottom: 20px;
  display: none;

  &.swiper-initialized {
    display: block;
  }

  &.nolan-group-outside-arrows-container {
    max-width: calc(100% - 100px);
  }

  .swiper-wrapper {
    grid-gap: unset;

    @media screen and (max-width: 1024px) {
      justify-content: flex-start;
    }

    @media screen and (max-width: 768px) {
      justify-content: flex-start;
    }
  }

  .nolan-group-carousel-content {
    text-align: center;
    display: flex;
    justify-content: center;
    height: auto;
  }

  .nolan-group-pagination {
    bottom: 0 !important;

    .swiper-pagination-bullet-active {
      background-color: #023f88;
    }
  }
}

.nolan-group-carousel-contents-container {
  position: relative;
}

.nolan-group-library-controls {
  &.nolan-group-library-outside-container-controls {
    position: absolute;
    top: 50%;
    width: 100%;


    &.swiper-button-prev,
    &.swiper-button-next {
      top: calc(50% - 30px) !important;
    }
  }

  button {
    background-color: #023f88;

    &.swiper-button-prev,
    &.swiper-button-next {
      top: calc(50% - 37px) !important;
      border: none;
      border-radius: 50%;
      padding: 10px;
      z-index: 2;
      width: 44px;

      &.swiper-button-disabled {
        cursor: unset;
        pointer-events: unset;
      }
    }

    &.swiper-button-next {
      right: 0 !important;
    }

    &.swiper-button-prev {
      left: 0 !important;
    }

    &::after {
      color: #ffffff;
      font-size: 15px;
      font-weight: bolder;
    }
  }
}